.FavoriteCard {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .fc-header {
    width: 100%;
    height: fit-content;
    padding-inline: 20px;
    box-sizing: border-box;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fc-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    .fc-img {
      width: auto;
      max-height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      position: relative;
      .details-button {
       width: auto;
       height: 40px;
       display: flex;
       align-items: center;
       position: absolute;
       top: 12px;
       left: 12px;
       z-index: 1;
       background-color: rgba(255, 255, 255, 0.1);
       color: rgba(255, 255, 255, 0.6);
       padding-inline: 18px;
       border-radius: 20px;
      }
      .details-button:hover {
       background-color: rgba(255, 255, 255, 0.3);
      }
      .remove-button {
        height: auto;
        width: auto;
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 1;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border: unset;
        padding: 8px;
        img {
          height: 60px;
          width: 60px;
          filter: invert(1);
          opacity: 0.2;
          background-color: transparent;
        }
        img:hover {
          opacity: 0.4;
        }
      }
      .remove-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
      a {
        width: auto;
        height: 100%;
        img {
          width: 100%;
          max-height: 100%;
          border-radius: 20px;
        }
      }
      iframe {
        width: 100vw;
        height: 70vh;
      }
    }
  }
}
