$primary: #f8f7f3;
$secondary: #0B3D91;

.Header {
  width: 100%;
  min-width: 700px;
  height: 60px;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: $primary;
  padding-inline: 10px;
  box-sizing: border-box;
  .header-section1 {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .header-section2 {
    height: fit-content;
    width: min-content;
    padding-top: 25px;
    img {
      height: 80px;
    }
  }
  .header-section3 {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    h2 {
      padding-right: 10px;
    }
    button {
      color: white;
      background-color: transparent;
      border: unset;
      cursor: pointer;
    }
    img {
      height: 60%;
    }
  }
  .header-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    gap: 5px;
    img {
      height: 70%;
    }
    p {
      font-variant-caps: small-caps;
      font-weight: bold;
      font-size: 1.7rem;
      display: none;
      margin: 0;
    }
  }
  .header-btn:hover {
    p {
      display: block;
    }
  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
