a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  max-width: 100%;
  min-width: 700px;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: scroll;
}

body.vp-center {
  align-items: flex-start;
}