a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: scroll;
  position: absolute;
}

body.vp-center {
  align-items: flex-start;
}

.favorite-button {
  height: auto;
  width: auto;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: unset;
  padding: 8px;
  img {
    height: 60px;
    width: 60px;
    filter: invert(1);
    opacity: 0.2;
    background-color: transparent;
  }
}
.favorite-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  img {
    opacity: 0.4;
  }
}

.remove-button {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: unset;
  padding: 8px;
  transition: 0.4s ease-in-out;
  img {
    height: 54px;
    width: 54px;
    filter: invert(1);
    opacity: 0.4;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
  }
}
.remove-button:hover {
  background-color: rgba(129, 6, 6, 0.5);
  transition: 0.4s ease-in-out;
  img {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
}