a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: scroll;
  position: absolute;
}

body.vp-center {
  align-items: flex-start;
}